[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
